<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{- $isHome := .IsHome -}}
<title>{{ if $isHome }}Cortex{{ else }}{{ .Title }} · Cortex{{ end }}</title>
{{- with .Description }}
<meta name="description" content="{{ . }}">
{{- end }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500;700&family=Noto+Sans+TC:wght@400;500;700&display=swap">
{{- $tokens := resources.Get "css/tokens.css" | fingerprint }}
{{- $shell := resources.Get "css/shell.css" | fingerprint }}
<link rel="stylesheet" href="{{ $tokens.RelPermalink }}" integrity="{{ $tokens.Data.Integrity }}" crossorigin="anonymous">
<link rel="stylesheet" href="{{ $shell.RelPermalink }}" integrity="{{ $shell.Data.Integrity }}" crossorigin="anonymous">
{{- with .Params.css }}
  {{- range . }}
    {{- $extra := resources.Get (printf "css/%s" .) | fingerprint }}
    {{- if $extra }}
<link rel="stylesheet" href="{{ $extra.RelPermalink }}" integrity="{{ $extra.Data.Integrity }}" crossorigin="anonymous">
    {{- end }}
  {{- end }}
{{- end }}
